body, .main-body, .about {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: inherit; }

.main-body {
  background-image: url("../foris-images/hikingSplash.jpg"); }

main {
  flex: 1 0 auto; }

.parallax-container {
  height: 100vh; }

.main-nav {
  background-color: #443728;
  justify-content: center;
  min-height: 4.5em; }

.main-footer {
  background-color: #443728; }

.copyright-text {
  color: white; }

.nav-buttons {
  display: flex;
  justify-content: center; }

.sport-button {
  margin-right: 2em; }

.login-button {
  float: right; }

.search-card {
  display: flex;
  justify-content: center;
  margin-top: 11em; }

.darken-1 {
  background-color: #443728;
  opacity: 0.7; }

.search-btn {
  background-color: white;
  color: #443728;
  opacity: 1;
  margin-left: 1em;
  margin-bottom: 1em; }
  .search-btn:hover {
    background-color: #443728;
    color: white; }

.trip-card {
  z-index: -10; }

.main-container {
  margin-bottom: 10em; }

.main-search {
  padding-left: 2em; }

.about {
  background-image: url("../foris-images/aboutSplash.jpg"); }

.about-card {
  background-color: #443728;
  opacity: 0.7;
  margin-top: 5em; }

.script {
  overflow: scroll; }

.large-logo {
  padding-left: 1em; }

@media only screen and (min-width: 780px) {
  .logo-image-text {
    display: flex;
    justify-content: flex-end; } }
.drop-down-selection {
  color: white;
  margin-right: 3em; }

.drop-down-selection-2 {
  color: white;
  margin-right: 3em; }

.select-dropdown {
  color: white; }

.logo-image {
  max-width: 250px;
  top: -2em; }

.logo-image-text {
  max-width: 150px;
  top: .3em;
  left: 1em; }

.main-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

.carousel .carousel-item {
  width: 450px !important; }

.event-facts {
  border: 1px solid black;
  display: flex;
  max-width: 50%; }

ul {
  margin: 2em;
  padding-bottom: 2em; }

.trip-info {
  border: 1px solid black;
  display: grid;
  width: 45%;
  float: left;
  height: 20em;
  margin: 2em;
  padding-left: 1em; }

.user-facts {
  border: 1px solid black;
  display: grid;
  width: 45%;
  float: right;
  height: 20em;
  margin: 2em;
  padding-left: 1em; }

.event-comments {
  border: 1px solid black;
  display: grid;
  width: 96%;
  height: 20em;
  margin: 2em;
  padding-left: 1em; }

.comment-title {
  text-align: center; }

h6 {
  font-size: 18px; }

.capacity {
  color: white; }

.label {
  color: white; }

#profile-page-header .card-image {
  max-height: 225px;
  background-size: cover; }

#profile-page-header .card-profile-image img {
  width: 110px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

#textarea1:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

#textarea1:focus + label {
  color: white; }

.submit-btn {
  background-color: white; }

.btn, .btn-large {
  background-color: white;
  color: #443728;
  margin-bottom: 1em;
  margin-left: 1em; }
  .btn:hover, .btn-large:hover {
    background-color: #443728;
    color: white; }
  .btn:active, .btn-large:active {
    background-color: #443728;
    color: white; }
  .btn:focus, .btn-large:focus {
    background-color: white;
    color: #443728; }

/* label color */
.input-field label {
  color: #ffffff; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffffff; }

/* label underline focus color */
.input-field .date input[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffffff; }

h4 {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
